body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: #333845;
}

.container {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.keyBoard {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    border-radius: 16px;
}

.whiteKey, .blackKey {
    border: 2px solid #333845;
    text-align: center;
    justify-items: last baseline;
    top: 0px;
}

.whiteKey {
    width: 120px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.blackKey {
    background-color: #333845;
    width: 80px;
    height: 50%;
    z-index: 999;
    float:left;
    margin-left: -42px;
    margin-top: -2px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    color: white;
}


.whiteNoteName {
    margin-top: 340px;
}

.blackNoteName {
    margin-top: 140px;
}

sup {
    vertical-align: super;
    font-size: 20px;
}

