body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: #FFFFFF;
}

.container {
    width:100%;
    max-width: 1200px;
    margin: 10rem auto;
}

.row {
    display: flex;
}

.keyBoard {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    border-radius: 16px;
    justify-content: center;
    margin-bottom: 2rem;
}

.whiteKey {
    border: 2px solid #333845;
    text-align: center;
    justify-items: last baseline;
    top: 0px;
    width: 120px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #ffffff;
}

.blackKey {
    border: 2px solid #333845;
    text-align: center;
    justify-items: last baseline;
    top: 0px;
    width: 80px;
    height: 50%;
    z-index: 999;
    float:left;
    margin-left: -42px;
    margin-top: -2px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #333845;
    color: #333845;
}


.whiteNoteName {
    margin-top: 340px;
}

.blackNoteName {
    margin-top: 140px;
}

sup {
    vertical-align: super;
    font-size: 20px;
}

.natural-orange {
    border: 2px solid #333845;
    text-align: center;
    justify-items: last baseline;
    top: 0px;
    width: 120px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #FDA93D;
    color: white;

}

.natural-blue {
    border: 2px solid #333845;
    text-align: center;
    justify-items: last baseline;
    top: 0px;
    width: 120px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #7DA5CE;
    color: white;
}


.accidental-orange {
    border: 2px solid #333845;
    text-align: center;
    justify-items: last baseline;
    top: 0px;
    width: 80px;
    height: 50%;
    z-index: 999;
    float:left;
    margin-left: -42px;
    margin-top: -2px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #FC7436;
    color: #FFFFFF;

}
.accidental-blue {
    border: 2px solid #333845;
    text-align: center;
    justify-items: last baseline;
    top: 0px;
    width: 80px;
    height: 50%;
    z-index: 999;
    float:left;
    margin-left: -42px;
    margin-top: -2px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #326BB1;
    color: #FFFFFF;
}

.whiteKey:last-child, 
.natural-orange:last-child,
.natural-blue:last-child {
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
}

.whiteKey:first-child,
.natural-orange:first-child,
.natural-blue:first-child {
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px;
}

.controls {
    align-items: center;
    justify-content:flex-end;
}
.col-3 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33.333%;
    text-align: center;
}

.range-control {
    color: #F26938;
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid #F26938;
    border-radius: 2rem;
    background-color: white;
}

.range-control:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.range-control:active {
    color:#ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #F26938;

}

.whiteKey:hover {
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 4px;
    left: 0;
    right: 0;
    bottom: -4px;
    background-color: #80E5E5;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #80E5E5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #80E5E5;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

    strong {
     color: #333845;
    }